# IDE
.vs/
.vscode/
.idea/

# Keil
*.uvgui.*
*.uvopt
*.uvproj.bak
*.uvopt.bak
*.bak
*.scvd

# Build outputs
Listings/
Objects/
*.obj
*.lst
*.hex
*.lnp
*.M51
*.build_log.htm
*.htm

# EIDE
.eide/log
.eide/.cache

# Misc
*.log
